//Fontes
$fontPrincipal: "Roboto", sans-serif;

//cores
$corPrincipal: lightpink;
$corDeFundo: #eee;
$corSecundaria: hotpink;
$corTerciaria:#fff;
$corTexto:#694E34;
$corBtnAlert: magenta;

//breakpoints
$mobile: 877px;
$tablet: 1023px;